body {
  font-family: Arial;
  margin: 0;
  background: #e9f7ec;
}

header {
  background: #0d4d1f;
  color: white;
  text-align: center;
  padding: 15px;
}

.login {
  text-align: center;
  margin-top: 100px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
}

button {
  background: #1c7c34;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: #145c26;
}

nav {
  text-align: center;
  margin: 10px;
}

.tela {
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.status {
  padding: 5px;
  margin-top: 10px;
}

.aberto {
  background: green;
}

.fechado {
  background: red;
}

.escondido {
  display: none;
  }
